{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["babel", "react"],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error", "info"] }]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect",
      "flowVersion": "detect"
    }
  }
}